h2 {
  margin-bottom: 0.2em;
  color: blue;
  font-size: large;
}

hr {
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

.example-full-width {
  width: 100%;
}

.ag-theme-quartz {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 10px;
  background: #fff;
}

.btn {
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.btn-edit {
  background-color: #1976d2;
  color: #fff;
}

.btn-delete {
  background-color: #d32f2f;
  color: #fff;
}