.header-row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 8px;
}

.grid-heading {
  margin: 0;
  color: blue;
  font-size: large;
  font-weight: 600;
}

.header-actions {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.btn-add {
  background-color: #198754;
  color: white;
  font-weight: 600;
}

.btn-add:hover {
  background-color: #157347;
}

.btn-edit {
  background-color: #1976d2;
  color: #fff;
}

.btn-delete {
  background-color: #d32f2f;
  color: #fff;
}
